In [1]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression, Ridge
from sklearn.metrics import confusion_matrix
from sklearn.datasets import load_boston

# from sklearn.template import skltemplate
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# from plot_classifier import plot_classifier
#from sklearn.plot_classifier import plot_classifier
%matplotlib inline
import sqlite3

In [13]:
## A local DB mtpj with whole image of Flights  16M rows
database = "mtpj.db"

conn = sqlite3.connect(database)

## For prove of concept use Flights_slim instead of Flights
sql_in="""SELECT cf.delay_pct as carrier_v, 
          --of.delay_pct as origin_v,
          df.delay_pct as dest_v,
          df.airport as dest,
          CAST(fl.crs_arr_hh24  as interger) crs_arr_hh24,
          hf.delay_pct  as                    hh24_v,
          CAST(crs_elapsed_time as interger) crs_elapsed_time,
          CAST(fl.fl_month      as interger) month,
          mf.delay_pct  as                   month_v,
          CAST(haul_type        as interger) haul_type,
          CAST(arr_delay_min_gy as interger) arr_delay_min_gy,
          CAST(arr_delay_min_bin as interger) arr_delay_min_bin,
          CAST(arr_delay_ind    as interger) arr_delay_ind,
          CAST(arr_delay        as interger) arr_delay
          FROM  FLIGHTS_slim fl, CARRIER_DELAY_F cf, AIRPORT_f df, AIRPORT_f of,
                HH24_F      hf, MONTH_F mf
          WHERE fl.mkt_unique_carrier = cf.mkt_unique_carrier
          AND   fl.dest               = df.airport
          AND   fl.origin             = of.airport
          AND   fl.crs_arr_hh24       = hf.crs_arr_hh24
          AND   fl.fl_month           = mf.fl_month
          AND   fl.cancelled          = '0.0'       --  cancelled = No
          AND   CAST(crs_elapsed_time as REAL) > 60
          ORDER BY RANDOM()
          LIMIT 160000;"""

df_stage = pd.read_sql(sql_in, con=conn)
conn.close()
df_stage
##df_stage=pd.read_csv('flights_f1.csv')

,carrier_v,dest_v,dest,crs_arr_hh24,hh24_v,crs_elapsed_time,month,month_v,haul_type,arr_delay_min_gy,arr_delay_min_bin,arr_delay_ind,arr_delay
0,17.76531,38.01551,FLL,9,27.26231,157,1,33.52233,0,-15,-15,0,-15
1,9.88030,36.61623,SDF,16,36.13049,110,1,33.52233,0,45,45,1,35
2,11.70175,35.60278,MSY,22,42.37835,80,1,33.52233,0,-15,-15,0,-8
3,8.33723,44.79845,EWR,22,42.37835,166,1,33.52233,0,15,15,1,21
4,8.33723,36.41499,MCO,11,29.34927,141,1,33.52233,0,15,15,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
159995,6.95741,36.12802,DSM,14,32.72667,85,1,33.52233,0,-15,-15,0,-2
159996,9.88030,33.54229,PHL,20,42.09990,88,1,33.52233,0,-45,-45,0,-31
159997,11.70175,37.05741,DAL,18,40.37584,90,1,33.52233,0,-15,-15,0,-14
159998,9.88030,39.75784,SFO,15,34.27183,408,1,33.52233,1,-45,-45,0,-41
159999,11.70175,37.70851,ALB,0,41.03559,115,1,33.52233,0,15,15,1,1

In [14]:
#df=df_stage.dropna()
### or 
df1=df_stage.dropna()
df1

,carrier_v,dest_v,dest,crs_arr_hh24,hh24_v,crs_elapsed_time,month,month_v,haul_type,arr_delay_min_gy,arr_delay_min_bin,arr_delay_ind,arr_delay
0,17.76531,38.01551,FLL,9,27.26231,157,1,33.52233,0,-15,-15,0,-15
1,9.88030,36.61623,SDF,16,36.13049,110,1,33.52233,0,45,45,1,35
2,11.70175,35.60278,MSY,22,42.37835,80,1,33.52233,0,-15,-15,0,-8
3,8.33723,44.79845,EWR,22,42.37835,166,1,33.52233,0,15,15,1,21
4,8.33723,36.41499,MCO,11,29.34927,141,1,33.52233,0,15,15,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
159995,6.95741,36.12802,DSM,14,32.72667,85,1,33.52233,0,-15,-15,0,-2
159996,9.88030,33.54229,PHL,20,42.09990,88,1,33.52233,0,-45,-45,0,-31
159997,11.70175,37.05741,DAL,18,40.37584,90,1,33.52233,0,-15,-15,0,-14
159998,9.88030,39.75784,SFO,15,34.27183,408,1,33.52233,1,-45,-45,0,-41
159999,11.70175,37.70851,ALB,0,41.03559,115,1,33.52233,0,15,15,1,1

In [15]:
df=df1[['carrier_v','dest_v','hh24_v', 'month_v', 'arr_delay' ]]
train_df, test_df = train_test_split(df, test_size=0.2, random_state=123)
X_train, y_train = train_df.drop(columns=["arr_delay"], axis=1), train_df["arr_delay"]
X_test, y_test = test_df.drop(columns=["arr_delay"], axis=1), test_df["arr_delay"]
lr = LogisticRegression()
lr.fit(X_train, y_train)

/Users/pelecheung/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
X_train.columns

Index(['carrier_v', 'dest_v', 'hh24_v', 'month_v'], dtype='object')

In [17]:
print("Model weights: %s"%(lr.coef_)) # these are weights
print("Model intercept: %s"%(lr.intercept_)) # this is the bias term
data = {'features': X_train.columns, 'coefficients':lr.coef_[0]}
pd.DataFrame(data)

Model weights: [[-0.0135634  -0.03565767 -0.02058012 -0.02973813]
 [-0.01384561 -0.03845276 -0.02845195 -0.0410788 ]
 [-0.01731301 -0.02593998 -0.0178276  -0.02629117]
 [-0.00745523 -0.03429229 -0.00111551 -0.04157309]
 [-0.0180875  -0.04506918 -0.01740483 -0.03746333]
 [-0.00914964 -0.0350193  -0.03597772 -0.0397787 ]
 [-0.02302989 -0.03822962  0.00937392 -0.04601293]
 [-0.00653822 -0.01043299 -0.03375426 -0.02700291]
 [-0.02829177 -0.01485245 -0.01407059 -0.03958854]
 [-0.02362604 -0.00344145 -0.03439713 -0.01390578]
 [-0.00774264 -0.02522395 -0.01215775 -0.02450542]
 [-0.02273154 -0.01863718  0.00468523 -0.03503389]
 [-0.0311322  -0.01627337  0.00334488 -0.03430614]
 [ 0.00356333 -0.0300949   0.00315844 -0.02905365]
 [-0.03058328 -0.02682216  0.00106694 -0.01354192]
 [-0.04805248  0.00967322 -0.00517586 -0.03262514]
 [-0.0492872  -0.01489282 -0.00541524  0.00310146]
 [-0.05029379  0.01681298 -0.02033207 -0.01053053]
 [-0.02202744  0.00776905 -0.01932346 -0.00436929]
 [-0.06606248 -0.02291081 -0.00486771  0.03119385]
 [-0.06981502  0.01292343 -0.0222761   0.01699496]
 [-0.06966538  0.02327909 -0.0120872  -0.00023377]
 [-0.10490168  0.02824898 -0.02092519  0.01780991]
 [-0.05161811 -0.00873255 -0.01841482  0.04243609]
 [-0.08117335  0.00702623 -0.01970421  0.03883896]
 [-0.03308823 -0.0220452  -0.02234292  0.06377251]
 [-0.06853015  0.00161411 -0.02440809  0.05746382]
 [-0.09333712 -0.00173289 -0.02913768  0.0742807 ]
 [-0.1018973   0.01240395 -0.01842238  0.05537437]
 [-0.09637485 -0.00528608 -0.00849194  0.0659404 ]
 [-0.1045665  -0.01148749 -0.01588762  0.08494107]
 [-0.10885536 -0.00567956 -0.02287715  0.09158443]
 [-0.10035044 -0.00815019 -0.01871489  0.09035892]
 [-0.08172575 -0.0170707  -0.02123371  0.10259452]
 [-0.0613054  -0.0387757  -0.01823273  0.12076386]
 [-0.04649096 -0.02681915 -0.02337352  0.11193072]
 [-0.05892095 -0.01695489 -0.02372748  0.10855693]
 [-0.05292319 -0.03323214 -0.02101988  0.12396786]
 [-0.03238995 -0.04248944 -0.02988758  0.14118204]
 [-0.0253308  -0.02842352 -0.03073016  0.12833222]
 [-0.02601707 -0.03454063 -0.02590489  0.13159123]
 [-0.01354007 -0.03059897 -0.02451714  0.12402285]
 [-0.0013333  -0.03157232 -0.02469654  0.12473275]
 [-0.00218198 -0.03246236 -0.02687483  0.12851685]
 [ 0.01042478 -0.02999791 -0.02231157  0.12137502]
 [ 0.01200812 -0.02434139 -0.02758563  0.1205269 ]
 [ 0.00667731 -0.01887842 -0.02666023  0.1157386 ]
 [ 0.00853806 -0.02742441 -0.02357456  0.1211996 ]
 [ 0.01160731 -0.02078101 -0.03116855  0.12158971]
 [ 0.01636403 -0.02406886 -0.02717614  0.11961418]
 [ 0.02381387 -0.02406795 -0.02810151  0.1179213 ]
 [ 0.01626543 -0.01016327 -0.02678454  0.10452092]
 [ 0.00527408 -0.02205472 -0.02171548  0.1136739 ]
 [ 0.02026717 -0.02385835 -0.02373464  0.11234221]
 [ 0.02496227 -0.02192221 -0.02336639  0.10791044]
 [ 0.01817482 -0.02318506 -0.0206175   0.10608271]
 [ 0.00719064 -0.01464597 -0.02222931  0.09979899]
 [ 0.02796365 -0.02128757 -0.02270221  0.09975479]
 [ 0.02040224 -0.01919025 -0.02501882  0.1007442 ]
 [ 0.01426014 -0.01640631 -0.02076439  0.09471921]
 [ 0.015222   -0.00286266 -0.02180189  0.08294284]
 [ 0.02236719 -0.00119589 -0.01431513  0.06520048]
 [ 0.02328413 -0.00815062 -0.01605624  0.07092122]
 [ 0.02691163  0.00430768 -0.01867465  0.05752942]
 [ 0.03668511  0.00864542 -0.01657374  0.04732738]
 [ 0.03138328 -0.00109126 -0.01225284  0.05163722]
 [ 0.03482752  0.03364175 -0.00980124  0.00937355]
 [ 0.04534519  0.00810927  0.00042555  0.01958258]
 [ 0.04440856 -0.01075613 -0.00946891  0.04900293]
 [ 0.03266788  0.01824549 -0.00406759  0.01486086]
 [ 0.03444963  0.01487261 -0.00093547  0.01189829]
 [ 0.02953336  0.01546296 -0.00232805  0.01415767]
 [ 0.03940951  0.03508423  0.01249683 -0.0276986 ]
 [ 0.04955739  0.03131249 -0.00649072 -0.01022475]
 [ 0.03873352  0.03018317  0.00224654 -0.01685472]
 [ 0.04652775  0.04644128  0.00478769 -0.04039817]
 [ 0.04695261  0.02713163  0.00076304 -0.01724359]
 [ 0.02264617  0.02197836  0.00030465 -0.00535027]
 [ 0.04789015  0.03924751 -0.00097596 -0.03119563]
 [ 0.03829538  0.02028907 -0.00798302 -0.00245782]
 [ 0.03360709  0.04912596  0.00246867 -0.04460418]
 [ 0.03311619  0.04541973  0.0078261  -0.04880806]
 [ 0.04523255  0.03072749 -0.0040501  -0.02618657]
 [ 0.05110283  0.03921641 -0.00950754 -0.03100914]
 [ 0.04463803  0.06179807  0.00024158 -0.065326  ]
 [ 0.0629216   0.04595855 -0.00285486 -0.0516955 ]
 [ 0.02504979  0.06000726 -0.00413241 -0.0575153 ]
 [ 0.04049432  0.03474655  0.00418892 -0.0448817 ]
 [ 0.00014741  0.03489404 -0.00391224 -0.02369494]
 [ 0.02837201  0.03892277 -0.01190498 -0.03048729]
 [ 0.02270279  0.03712963  0.01536612 -0.05872158]
 [ 0.05462366  0.03191604  0.01455551 -0.06144564]
 [ 0.00978268  0.02478179  0.02846698 -0.05636833]
 [ 0.02706241  0.00784776  0.02126739 -0.03788491]
 [ 0.01703835  0.03679371  0.02358542 -0.06601137]
 [ 0.0114652   0.04906043  0.01241095 -0.06939259]
 [ 0.02931468  0.02393884  0.01807559 -0.05539096]
 [ 0.02903851  0.01143442  0.01803548 -0.04395564]
 [ 0.02142757  0.02192257  0.02126394 -0.05688862]
 [ 0.01498103  0.0100384   0.04662001 -0.06974019]
 [ 0.02752735  0.01031653  0.03379118 -0.0606776 ]
 [ 0.03319398  0.00165387  0.03403208 -0.0541938 ]
 [ 0.01106474  0.01103587  0.03710132 -0.06170559]
 [ 0.03947575  0.02965032  0.01777283 -0.06935143]
 [ 0.02949915 -0.00058108  0.03637433 -0.05972416]
 [ 0.02009067  0.00917169  0.03275055 -0.06106658]
 [ 0.00394608  0.01946807  0.01033767 -0.04555879]
 [ 0.00188828  0.01665172  0.02265627 -0.05607086]
 [ 0.00710695  0.01543831  0.02753813 -0.06500568]
 [ 0.04669967  0.00131618  0.02288317 -0.05318577]
 [ 0.01136051  0.01532792  0.04094703 -0.0763698 ]
 [ 0.01592101  0.01612555  0.01486892 -0.05749371]
 [-0.00388786  0.01296238  0.00897538 -0.04187605]
 [ 0.02349443  0.04500054 -0.01843222 -0.05337283]
 [ 0.01010144 -0.00618866  0.03530935 -0.05688623]
 [ 0.0204673  -0.00061728  0.03071462 -0.05827976]
 [ 0.01283794 -0.0160743   0.05063636 -0.06221066]
 [ 0.01659911  0.0108931   0.0211299  -0.0610379 ]
 [ 0.0248182  -0.01208069  0.03188945 -0.05218021]
 [ 0.01000747 -0.00422374  0.00694087 -0.03152749]
 [ 0.03526276  0.02852168  0.00656871 -0.07253156]
 [ 0.01488751  0.00066104  0.00355534 -0.03358571]
 [-0.00202079  0.00315276  0.03510489 -0.06456613]
 [ 0.00959142  0.01435865  0.02257621 -0.06658195]
 [ 0.02909536  0.00030324  0.00593998 -0.04246733]
 [ 0.00209478  0.00412454  0.02478221 -0.06066685]
 [ 0.00729214 -0.00108749  0.03308035 -0.06318458]
 [ 0.00428116 -0.00295565  0.03803215 -0.06999239]
 [-0.01192935 -0.00442921  0.0294949  -0.05494338]
 [-0.01441888 -0.0041986   0.021076   -0.04494976]
 [-0.00449491  0.00417218  0.01206527 -0.04648045]
 [-0.01276523  0.00334535  0.03389783 -0.06836744]
 [ 0.01457495  0.00583922  0.00315671 -0.04717847]
 [ 0.00520739 -0.01661372  0.02971782 -0.04700357]
 [ 0.00934897 -0.01020638  0.01964887 -0.04371837]
 [-0.00495516 -0.00830488  0.03192414 -0.0558571 ]
 [-0.00706971  0.00697236 -0.00040025 -0.04458545]
 [-0.00564094 -0.00669864  0.03845591 -0.06379189]
 [ 0.01869019 -0.01890342  0.02007391 -0.04814306]
 [-0.02107715 -0.00985447  0.02590199 -0.05249393]
 [ 0.00497667 -0.00681406  0.01412628 -0.05055788]
 [-0.00108313 -0.01013237  0.02045959 -0.05224298]
 [-0.00315101  0.00278905 -0.01283835 -0.03053294]
 [ 0.01750224 -0.02373562  0.02253314 -0.04492427]
 [-0.02062723 -0.03258481  0.03404567 -0.0409733 ]
 [ 0.00284245 -0.0261789   0.03355395 -0.04264968]
 [-0.01739823 -0.0112123   0.02650376 -0.05130612]
 [ 0.02505172 -0.0148957   0.00432261 -0.03698389]
 [-0.02445383 -0.00304485  0.02497025 -0.05923652]
 [ 0.00634609 -0.00939284 -0.0112339  -0.03589339]]
Model intercept: [-8.87847721e-04 -1.22600186e-03 -7.84717190e-04 -1.24066092e-03
 -1.11817551e-03 -1.18714914e-03 -1.37306593e-03 -8.05945099e-04
 -1.18136112e-03 -4.15104159e-04 -7.31350687e-04 -1.04543919e-03
 -1.02371144e-03 -8.67001214e-04 -4.04196555e-04 -9.73534548e-04
  9.24027386e-05 -3.14286728e-04 -1.30460040e-04  9.30587085e-04
  5.06976357e-04 -7.04719288e-06  5.31312070e-04  1.26604745e-03
  1.15873532e-03  1.90266161e-03  1.71447380e-03  2.21625643e-03
  1.65214761e-03  1.96737525e-03  2.53434132e-03  2.73261688e-03
  2.69605262e-03  3.06116369e-03  3.60332699e-03  3.33977931e-03
  3.23912149e-03  3.69900656e-03  4.21277043e-03  3.82936401e-03
  3.92664787e-03  3.70081267e-03  3.72204982e-03  3.83499548e-03
  3.62190923e-03  3.59659234e-03  3.45368375e-03  3.61668278e-03
  3.62832052e-03  3.56936106e-03  3.51882250e-03  3.11887655e-03
  3.39205473e-03  3.35228647e-03  3.22000398e-03  3.16542799e-03
  2.97788698e-03  2.97653676e-03  3.00606160e-03  2.82625418e-03
  2.47483303e-03  1.94536531e-03  2.11608548e-03  1.71649275e-03
  1.41207208e-03  1.54068472e-03  2.79616227e-04  5.84237923e-04
  1.46209466e-03  4.43376004e-04  3.54979343e-04  4.22397192e-04
 -8.26511761e-04 -3.05075086e-04 -5.02931796e-04 -1.20538966e-03
 -5.14536341e-04 -1.59690057e-04 -9.30804034e-04 -7.33645458e-05
 -1.33087814e-03 -1.45632430e-03 -7.81356106e-04 -9.25220006e-04
 -1.94911683e-03 -1.54243395e-03 -1.71606718e-03 -1.33915752e-03
 -7.07020182e-04 -9.09656347e-04 -1.75209304e-03 -1.83336560e-03
 -1.68190370e-03 -1.13042708e-03 -1.96959981e-03 -2.07045721e-03
 -1.65271914e-03 -1.31154024e-03 -1.69740386e-03 -2.08086260e-03
 -1.81046193e-03 -1.61701476e-03 -1.84113402e-03 -2.06923096e-03
 -1.78201280e-03 -1.82206184e-03 -1.35936459e-03 -1.67300501e-03
 -1.93958072e-03 -1.58692783e-03 -2.27864400e-03 -1.71545784e-03
 -1.24949415e-03 -1.59247940e-03 -1.69734561e-03 -1.73891519e-03
 -1.85620601e-03 -1.82120493e-03 -1.55693880e-03 -9.40748148e-04
 -2.16411489e-03 -1.00215344e-03 -1.92647756e-03 -1.98661436e-03
 -1.26714153e-03 -1.81013822e-03 -1.88525776e-03 -2.08837972e-03
 -1.63938886e-03 -1.34122262e-03 -1.38688646e-03 -2.03990160e-03
 -1.40771605e-03 -1.40250215e-03 -1.30448352e-03 -1.66665168e-03
 -1.33035768e-03 -1.90338663e-03 -1.43651121e-03 -1.56631857e-03
 -1.50855942e-03 -1.55883395e-03 -9.11116892e-04 -1.34047499e-03
 -1.22261991e-03 -1.27260779e-03 -1.53087679e-03 -1.10357062e-03
 -1.76750202e-03 -1.07106323e-03]

    features  coefficients
0  carrier_v     -0.013563
1     dest_v     -0.035658
2     hh24_v     -0.020580
3    month_v     -0.029738

In [18]:
example = X_test.iloc[0,:]
example.tolist()

[11.70175, 37.28818, 27.87374, 33.52233]

In [19]:
lr.intercept_

array([-8.87847721e-04, -1.22600186e-03, -7.84717190e-04, -1.24066092e-03,
       -1.11817551e-03, -1.18714914e-03, -1.37306593e-03, -8.05945099e-04,
       -1.18136112e-03, -4.15104159e-04, -7.31350687e-04, -1.04543919e-03,
       -1.02371144e-03, -8.67001214e-04, -4.04196555e-04, -9.73534548e-04,
        9.24027386e-05, -3.14286728e-04, -1.30460040e-04,  9.30587085e-04,
        5.06976357e-04, -7.04719288e-06,  5.31312070e-04,  1.26604745e-03,
        1.15873532e-03,  1.90266161e-03,  1.71447380e-03,  2.21625643e-03,
        1.65214761e-03,  1.96737525e-03,  2.53434132e-03,  2.73261688e-03,
        2.69605262e-03,  3.06116369e-03,  3.60332699e-03,  3.33977931e-03,
        3.23912149e-03,  3.69900656e-03,  4.21277043e-03,  3.82936401e-03,
        3.92664787e-03,  3.70081267e-03,  3.72204982e-03,  3.83499548e-03,
        3.62190923e-03,  3.59659234e-03,  3.45368375e-03,  3.61668278e-03,
        3.62832052e-03,  3.56936106e-03,  3.51882250e-03,  3.11887655e-03,
        3.39205473e-03,  3.35228647e-03,  3.22000398e-03,  3.16542799e-03,
        2.97788698e-03,  2.97653676e-03,  3.00606160e-03,  2.82625418e-03,
        2.47483303e-03,  1.94536531e-03,  2.11608548e-03,  1.71649275e-03,
        1.41207208e-03,  1.54068472e-03,  2.79616227e-04,  5.84237923e-04,
        1.46209466e-03,  4.43376004e-04,  3.54979343e-04,  4.22397192e-04,
       -8.26511761e-04, -3.05075086e-04, -5.02931796e-04, -1.20538966e-03,
       -5.14536341e-04, -1.59690057e-04, -9.30804034e-04, -7.33645458e-05,
       -1.33087814e-03, -1.45632430e-03, -7.81356106e-04, -9.25220006e-04,
       -1.94911683e-03, -1.54243395e-03, -1.71606718e-03, -1.33915752e-03,
       -7.07020182e-04, -9.09656347e-04, -1.75209304e-03, -1.83336560e-03,
       -1.68190370e-03, -1.13042708e-03, -1.96959981e-03, -2.07045721e-03,
       -1.65271914e-03, -1.31154024e-03, -1.69740386e-03, -2.08086260e-03,
       -1.81046193e-03, -1.61701476e-03, -1.84113402e-03, -2.06923096e-03,
       -1.78201280e-03, -1.82206184e-03, -1.35936459e-03, -1.67300501e-03,
       -1.93958072e-03, -1.58692783e-03, -2.27864400e-03, -1.71545784e-03,
       -1.24949415e-03, -1.59247940e-03, -1.69734561e-03, -1.73891519e-03,
       -1.85620601e-03, -1.82120493e-03, -1.55693880e-03, -9.40748148e-04,
       -2.16411489e-03, -1.00215344e-03, -1.92647756e-03, -1.98661436e-03,
       -1.26714153e-03, -1.81013822e-03, -1.88525776e-03, -2.08837972e-03,
       -1.63938886e-03, -1.34122262e-03, -1.38688646e-03, -2.03990160e-03,
       -1.40771605e-03, -1.40250215e-03, -1.30448352e-03, -1.66665168e-03,
       -1.33035768e-03, -1.90338663e-03, -1.43651121e-03, -1.56631857e-03,
       -1.50855942e-03, -1.55883395e-03, -9.11116892e-04, -1.34047499e-03,
       -1.22261991e-03, -1.27260779e-03, -1.53087679e-03, -1.10357062e-03,
       -1.76750202e-03, -1.07106323e-03])

In [20]:
lr.classes_

array([-60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48,
       -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35,
       -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22,
       -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10,  -9,
        -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1,   0,   1,   2,   3,   4,
         5,   6,   7,   8,   9,  10,  11,  12,  13,  14,  15,  16,  17,
        18,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,  29,  30,
        31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,
        44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,
        57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,
        70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,
        83,  84,  85,  86,  87,  88,  89])

## Start preidct

In [23]:
database = "mtpj.db"

conn = sqlite3.connect(database)

## For prove of concept use Flights_slim instead of Flights
sql_in="""SELECT cf.delay_pct as carrier_v, 
          --of.delay_pct as origin_v,
          df.delay_pct as dest_v,
          df.airport as dest,
          CAST(fl.crs_arr_hh24  as interger) crs_arr_hh24,
          hf.delay_pct  as                    hh24_v,
          --CAST(crs_elapsed_time as interger) crs_elapsed_time,
          CAST(fl.fl_month      as interger) month,
          mf.delay_pct  as                   month_v
          --CAST(haul_type        as interger) haul_type
          FROM  flights_test_7days fl, CARRIER_DELAY_F cf, AIRPORT_F df, AIRPORT_F of,
                HH24_F      hf, MONTH_F mf
          WHERE fl.mkt_unique_carrier = cf.mkt_unique_carrier
          AND   fl.dest               = df.airport
          AND   fl.origin             = of.airport
          AND   fl.crs_arr_hh24       = hf.crs_arr_hh24
          AND   fl.fl_month           = mf.fl_month
          ORDER BY RANDOM()
          LIMIT 160000;"""

df_stage = pd.read_sql(sql_in, con=conn)
conn.close()
df_stage
##df_stage=pd.read_csv('flights_f1.csv')

        carrier_v    dest_v dest  crs_arr_hh24    hh24_v  month   month_v
0        11.70175  38.88043  OKC            23  41.87090      1  33.52233
1        11.70175  36.27099  SAT             7  23.38308      1  33.52233
2         8.33723  36.48137  ORD            11  29.34927      1  33.52233
3        11.70175  34.66992  DEN            17  38.06039      1  33.52233
4        17.76531  37.71784  BOS             7  23.38308      1  33.52233
...           ...       ...  ...           ...       ...    ...       ...
150618    8.33723  35.39247  IAH             0  41.03559      1  33.52233
150619    9.88030  34.22228  DCA            21  42.26300      1  33.52233
150620    8.33723  32.95197  CLT            23  41.87090      1  33.52233
150621    5.37583  24.07670  OTZ             8  24.03153      1  33.52233
150622    9.88030  30.58458  OGG            16  36.13049      1  33.52233

[150623 rows x 7 columns]

In [24]:
df1=df_stage.dropna()
df1

        carrier_v    dest_v dest  crs_arr_hh24    hh24_v  month   month_v
0        11.70175  38.88043  OKC            23  41.87090      1  33.52233
1        11.70175  36.27099  SAT             7  23.38308      1  33.52233
2         8.33723  36.48137  ORD            11  29.34927      1  33.52233
3        11.70175  34.66992  DEN            17  38.06039      1  33.52233
4        17.76531  37.71784  BOS             7  23.38308      1  33.52233
...           ...       ...  ...           ...       ...    ...       ...
150618    8.33723  35.39247  IAH             0  41.03559      1  33.52233
150619    9.88030  34.22228  DCA            21  42.26300      1  33.52233
150620    8.33723  32.95197  CLT            23  41.87090      1  33.52233
150621    5.37583  24.07670  OTZ             8  24.03153      1  33.52233
150622    9.88030  30.58458  OGG            16  36.13049      1  33.52233

[150623 rows x 7 columns]

In [25]:
dfp=df1[['carrier_v','dest_v','hh24_v', 'month_v' ]]
dfp

        carrier_v    dest_v    hh24_v   month_v
0        11.70175  38.88043  41.87090  33.52233
1        11.70175  36.27099  23.38308  33.52233
2         8.33723  36.48137  29.34927  33.52233
3        11.70175  34.66992  38.06039  33.52233
4        17.76531  37.71784  23.38308  33.52233
...           ...       ...       ...       ...
150618    8.33723  35.39247  41.03559  33.52233
150619    9.88030  34.22228  42.26300  33.52233
150620    8.33723  32.95197  41.87090  33.52233
150621    5.37583  24.07670  24.03153  33.52233
150622    9.88030  30.58458  36.13049  33.52233

[150623 rows x 4 columns]

In [26]:
example = dfp.iloc[0,:]
example.tolist()
example.describe

<bound method NDFrame.describe of carrier_v    11.70175
dest_v       38.88043
hh24_v       41.87090
month_v      33.52233
Name: 0, dtype: float64>

In [27]:
lr.predict([example])

array([-9])

In [28]:
lr.predict_proba([example])

array([[9.95111098e-05, 4.37367150e-05, 1.75059079e-04, 1.71184996e-04,
        5.76944542e-05, 4.02513672e-05, 1.63635980e-04, 1.81886392e-04,
        1.77486591e-04, 2.95236986e-04, 2.71041274e-04, 4.17777403e-04,
        4.02159437e-04, 4.17333663e-04, 4.90014672e-04, 6.70012257e-04,
        8.34131729e-04, 9.58513393e-04, 1.20408100e-03, 1.31795249e-03,
        1.52212904e-03, 1.96020823e-03, 1.99233183e-03, 2.23967848e-03,
        2.45594829e-03, 2.87764737e-03, 3.53949260e-03, 3.35273496e-03,
        4.36476793e-03, 5.05663348e-03, 5.01072645e-03, 5.57030535e-03,
        6.38576836e-03, 7.61595690e-03, 8.67611906e-03, 9.84717723e-03,
        1.09927947e-02, 1.17634551e-02, 1.28278595e-02, 1.50999869e-02,
        1.61224425e-02, 1.78792283e-02, 2.01850665e-02, 2.00086580e-02,
        2.43114807e-02, 2.40496046e-02, 2.47352866e-02, 2.47830762e-02,
        2.45201941e-02, 2.52343949e-02, 2.50249597e-02, 2.65145712e-02,
        2.46821657e-02, 2.40991118e-02, 2.40255367e-02, 2.22950773e-02,
        2.06872030e-02, 1.99470996e-02, 1.85848168e-02, 1.88158148e-02,
        2.07796060e-02, 1.81845184e-02, 1.57988789e-02, 1.52993807e-02,
        1.57446214e-02, 1.40330593e-02, 1.51313291e-02, 1.37064717e-02,
        1.15448551e-02, 1.23921899e-02, 1.14560849e-02, 1.12621101e-02,
        1.23821736e-02, 9.77295395e-03, 9.51090437e-03, 9.89702491e-03,
        8.62623864e-03, 7.76691507e-03, 8.13288257e-03, 6.80291923e-03,
        7.44245707e-03, 6.96312384e-03, 5.88791905e-03, 5.93776566e-03,
        6.29948178e-03, 5.84888869e-03, 5.05585110e-03, 4.91078219e-03,
        4.46690991e-03, 4.14147297e-03, 4.39091484e-03, 4.59524647e-03,
        4.37436596e-03, 3.81243452e-03, 4.48058815e-03, 3.78157880e-03,
        3.55815413e-03, 3.19578784e-03, 3.26025392e-03, 3.57795287e-03,
        3.31790465e-03, 3.17868411e-03, 3.12291859e-03, 3.09295897e-03,
        2.55704445e-03, 2.74883282e-03, 2.23548135e-03, 2.30242790e-03,
        2.12225535e-03, 2.38305861e-03, 2.65943394e-03, 1.82925821e-03,
        1.69276876e-03, 1.74913414e-03, 1.72368995e-03, 1.90263912e-03,
        1.92560540e-03, 1.73610366e-03, 1.65251292e-03, 1.32682768e-03,
        1.58426424e-03, 1.37575943e-03, 1.64802171e-03, 1.61434068e-03,
        1.31416373e-03, 1.32860342e-03, 1.49971545e-03, 1.31827821e-03,
        1.19340102e-03, 1.14963198e-03, 1.16460754e-03, 1.22538167e-03,
        1.04489914e-03, 1.19641464e-03, 1.18003375e-03, 1.19576553e-03,
        7.96733681e-04, 1.27185270e-03, 8.23695595e-04, 8.11047043e-04,
        8.06991797e-04, 8.14055269e-04, 6.74805930e-04, 8.31298889e-04,
        6.97394381e-04, 1.09030999e-03, 8.57167778e-04, 7.79737612e-04,
        7.79250931e-04, 4.19576175e-04]])

In [32]:
data_dict = {"predicted": lr.predict(dfp).tolist()}
pd.DataFrame(data_dict)
out_file=pd.DataFrame(data_dict)
out_file

        predicted
0              -9
1             -12
2             -12
3             -11
4             -10
...           ...
150618        -13
150619        -13
150620        -13
150621        -12
150622        -13

[150623 rows x 1 columns]

In [34]:
out_file.to_csv('predict.csv')

In [242]:
## Test
dfp.to_csv('first_part.csv')